.qrCode-container {
	margin: 0;
	background-color: black;
	color: black;
}

.qrCode-container h1{
    padding-top: 4rem;
     background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

.input-box {
	padding: 10px;
}
.input-box input{
    margin: 10px;
    padding: 5px;
    width: 20rem;
    border: 5px solid #87FF2A;
    border-radius: 10px;
}


.input-box button {
	margin: 10px;
    padding: 5px;
    width: 5rem;
    color: black;
    border-radius: 10px;
    border: 3px solid #87FF2A;
		background-image: linear-gradient(
			to right,
			#e7484f,
			#e7484f 16.65%,
			#f68b1d 16.65%,
			#f68b1d 33.3%,
			#fced00 33.3%,
			#fced00 49.95%,
			#009e4f 49.95%,
			#009e4f 66.6%,
			#00aac3 66.6%,
			#00aac3 83.25%,
			#732982 83.25%,
			#732982 100%,
			#e7484f 100%
		);
		animation: slidebg 2s linear infinite;
}

.qrCode-Box {
	margin: 10px;
	padding: 10px;
	border: 3px double white;
	background-color: white;
}

#qr-code-value {
	margin: 30px;
	border: solid 2px black;
}
